<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>

  <MR_MapRender>Map Renderer</MR_MapRender>
  <MR_RenderButtonLabel>Render</MR_RenderButtonLabel>
  <MR_CloseButtoLabel>Close</MR_CloseButtoLabel>
  <MR_MapRenderDescription>To render the map click 'render'.</MR_MapRenderDescription>
  <MR_QualityLabel>Quality</MR_QualityLabel>

</LanguageData>